@font-face {
    font-family: casionReg;
    src: url(/css/bigcasionreg.ttf);
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'CasionReg'!important;
}

.hero{
    background-image: linear-gradient(120deg, rgba(3, 1, 4, 0.699) 0%, rgba(10, 29, 124, 0.692) 100%), url("/Pics/bg.jpeg");
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    
}

.textos-hero {
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px
  }

.textos-hero h1{
    font-size: 70px;
    /* text-shadow: 20px 15px 7px black; */
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(12, 12, 12), 0 0 0.2em rgba(5, 5, 6, 0.606);
}

.textos-hero p{
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(12, 12, 12), 0 0 0.2em rgba(5, 5, 6, 0.606);
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #e6e222c9;
    border-radius: 8px;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(12, 12, 12), 0 0 0.2em rgba(5, 5, 6, 0.606);

}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
/* .contenedor{
    padding: 80px 0;
} */

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    color: #767676;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(120deg, rgba(3, 1, 4, 0.699) 0%, rgba(10, 29, 124, 0.692) 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
    
}

/* Info */

.info{
    background: #e6e222c9;
    color: rgb(0, 0, 0);
}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

/* galeria */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/* info2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}


/* footer */

footer{
    background-color: #e6e222c9;   color: rgb(0, 0, 0);
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: rgb(0, 0, 0);
    outline: none;
    border: 2px  solid rgb(0, 0, 0);
    padding: 20px 10px;
}

.input::placeholder{
    color: rgb(51, 49, 49);
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(3, 3, 102);
    background: #fff;
}

.autorizado{
    width: 300px;
    border-radius: 15px;
    box-shadow: black 0.5em 0.5em 0.3em
}

.contacto{
    margin-top: 40px;
}


@media screen and (max-width:900px){
    .textos-hero h1{
        padding-top: 20px;
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 40px;
        padding-top: 50px
    }
    .textos-hero {
        margin-top: 40px
      }

    .textos-hero p{
        font-size: 30px;
        text-align: center;
    }

    .card{
        height: 380px;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
}

@media screen and (max-width:600px){
    .autorizado{
        width: 160px;
    }
}

/* carousel style */

.slides-container {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.texto-destacado{
    color: #15a9d6 ;
    font-weight: bold;
}
.texto-azul{
    font-weight: bold;
}

/* .logowsp {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    } */
    
    /* .logowsp:hover {
    opacity: 0.7;
    }
    
    .fa-whatsapp {
    background: #45bbff;
    color: white;
    } */
.contenewsp{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


span{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    color: #767676;
}

.secondary{
    color:#343333;
}

.footerimgcont{
    position: relative;
    height: 100px; /* ajusta la altura a tus necesidades */
}

.footerimg {
    position: fixed;
    bottom: 20px; /* ajusta la distancia desde abajo */
    right: 20px; /* ajusta la distancia desde la derecha */
    animation: jump 0.5s infinite alternate;
  }

  @keyframes jump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.contenedorlast{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 0 0;
}